/* .main{
    margin-left: 350px;
    margin-top: 60px;
    border: 2px solid black;
    width: 500px;
    height: 500px;
    background-color: black;
}
p {
    margin: 20px;
    color: white;
}
.demo{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.val{
    padding-top: 13px;
}

.demo div,
.demo div{
    width: 40%;
}

input{
    justify-items: flex-start;
    margin: 9px;
}

button{
    margin-left: 200px;
}

.file{
    color: white;
} */